---
apiVersion: source.toolkit.fluxcd.io/v1
kind: HelmRepository
metadata:
  name: uptime-kuma
spec:
  interval: 1h
  url: https://helm.irsigler.cloud
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: uptime-kuma
spec:
  chart:
    spec:
      chart: uptime-kuma
      version: 2.22.0
      sourceRef:
        kind: HelmRepository
        name: uptime-kuma
  interval: 1h
  dependsOn:
    - name: traefik
      namespace: network
  values:
    service:
      type: ClusterIP
    ingress:
      enabled: true
      className: traefik
      hosts:
        - host: uptime.${SECRET_DOMAIN}
          paths:
            - path: /
              pathType: Prefix