---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: grafana
spec:
  chartRef:
    kind: OCIRepository
    name: grafana
  interval: 1h
  values:
    adminPassword: "admin"
    persistence:
      enabled: true
      size: 3Gi
    ingress:
      enabled: true
      ingressClassName: traefik
      hosts:
        - "grafana.${SECRET_DOMAIN}"
      path: /
      pathType: Prefix
    grafana.ini:
      server:
        root_url: "https://grafana.${SECRET_DOMAIN}"
        domain: "grafana.${SECRET_DOMAIN}"