---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: cilium
spec:
  chartRef:
    kind: OCIRepository
    name: cilium
  interval: 1h
  values:
    autoDirectNodeRoutes: true
    bpf:
      masquerade: true
      # Ref: https://github.com/siderolabs/talos/issues/10002
      hostLegacyRouting: true
    cni:
      exclusive: true
    cgroup:
      automount:
        enabled: false
      hostRoot: /sys/fs/cgroup
    dashboards:
      enabled: true
    endpointRoutes:
      enabled: true
    envoy:
      enabled: false
    gatewayAPI:
      enabled: false
    hubble:
      enabled: false
    ipam:
      mode: kubernetes
    ipv4NativeRoutingCIDR: "10.42.0.0/16"
    k8sServiceHost: "192.168.68.141"
    k8sServicePort: 6443
    kubeProxyReplacement: "strict"
    kubeProxyReplacementHealthzBindAddr: 0.0.0.0:10256
    l2announcements:
      enabled: true
    loadBalancer:
      algorithm: maglev
      mode: "dsr"
    localRedirectPolicy: true
    operator:
      dashboards:
        enabled: true
      prometheus:
        enabled: false
      replicas: 1
      rollOutPods: true
    prometheus:
      enabled: false
    rollOutCiliumPods: true
    routingMode: native
    securityContext:
      capabilities:
        ciliumAgent:
          - CHOWN
          - KILL
          - NET_ADMIN
          - NET_RAW
          - IPC_LOCK
          - SYS_ADMIN
          - SYS_RESOURCE
          - PERFMON
          - BPF
          - DAC_OVERRIDE
          - FOWNER
          - SETGID
          - SETUID
        cleanCiliumState:
          - NET_ADMIN
          - SYS_ADMIN
          - SYS_RESOURCE
    socketLB:
      enabled: true
      hostNamespaceOnly: true
    enableIPv4: true
    enableIPv4Masquerade: true
    enableIPMasqAgent: false