---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: traefik
spec:
  dependsOn:
    - name: metallb
  chartRef:
    kind: OCIRepository
    name: traefik
  interval: 1h
  values:
    service:
      type: LoadBalancer
      annotations:
        metallb.universe.tf/loadBalancerIPs: ${TRAEFIK_LOAD_BALANCER_IP}