---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: traefik
spec:
  dependsOn:
    - name: cilium
      namespace: kube-system
  chartRef:
    kind: OCIRepository
    name: traefik
  interval: 1h
  values:
    service:
      type: LoadBalancer
      annotations:
        io.cilium/lb-ipam-ips: 192.168.68.40
    ports:
      web:
        port: 80
        exposedPort: 80
      websecure:
        port: 443
        exposedPort: 443